/* Основные стили */
body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: white;
    color: #000000;
    max-width: 900px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Стили для переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

/* Стили для контента */
main {
    max-width: 900px;
}
